In [ ]:
pip install yfinance

In [ ]:
import yfinance as yf
stock_list = ['GME', 'AMC', 'CLOV']
msft = yf.Ticker("GME AMC CLOV")

# get stock info
print(msft.info)

# get historical market data
hist = msft.history(interval='30m', period="1d", start='2021-09-14', end='2021-09-15')

{'regularMarketPrice': None, 'logo_url': ''}
- GME AMC CLOV: No data found, symbol may be delisted

In [ ]:
hist

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [ ]:
df = yf.download(tickers='GME AMC CLOV',
                 interval='30m',
                 start='2021-08-14', 
                 end='2021-09-17',
                 group_by='ticker',
                 prepost=True)  #prepost=True for pre- and post-market hours

df.head()

[*********************100%***********************]  3 of 3 completed

                           CLOV              ...    AMC
                           Open  High   Low  ...  Close Adj Close Volume
Datetime                                     ...
2021-08-16 04:00:00-04:00  8.42  8.46  8.22  ...  33.85     33.85      0
2021-08-16 04:30:00-04:00  8.39  8.40  8.30  ...  33.90     33.90      0
2021-08-16 05:00:00-04:00  8.35  8.37  8.32  ...  34.02     34.02      0
2021-08-16 05:30:00-04:00  8.33  8.39  8.30  ...  33.98     33.98      0
2021-08-16 06:00:00-04:00  8.38  8.40  8.30  ...  33.79     33.79      0

[5 rows x 18 columns]

In [ ]:
df['AMC']

                                Open       High  ...  Adj Close   Volume
Datetime                                         ...
2021-08-16 04:00:00-04:00  33.910000  34.150000  ...     33.850        0
2021-08-16 04:30:00-04:00  33.850000  33.960000  ...     33.900        0
2021-08-16 05:00:00-04:00  33.940000  34.110000  ...     34.020        0
2021-08-16 05:30:00-04:00  34.020000  34.030000  ...     33.980        0
2021-08-16 06:00:00-04:00  33.980000  33.990000  ...     33.790        0
...                              ...        ...  ...        ...      ...
2021-09-16 08:00:00-04:00  46.180100  46.600000  ...     46.410        0
2021-09-16 08:30:00-04:00  46.429000  46.510000  ...     46.470        0
2021-09-16 09:00:00-04:00  46.470000  46.480000  ...     46.220        0
2021-09-16 09:30:00-04:00  46.480000  47.089901  ...     46.785  8506815
2021-09-16 10:00:00-04:00  46.779999  47.029999  ...     46.910   406397

[716 rows x 6 columns]